<section class="container">
    <div class="row all-bill">
      <div class="col-6 col-md-4 bill" *ngFor="let order of orders">
        <div class="orderMain" [ngClass]=
        "{'orderDelivered':order.status ==='delivered',
          'orderDelivering':order.status ==='delivering',
          'orderPending':order.status ==='pending',
          'orderCanceled':order.status ==='canceled'}"
        >
        <i class="fa fa-times-circle deleteOrder" (click)="deleteAllOrder(order)"></i>
        <div>
          <div class="text-center header-order">
            <span *ngIf="order.status ==='pending'"><b>ORDEN PENDIENTE</b></span>
            <span *ngIf="order.status ==='delivering'"><b>ORDEN LISTA</b></span>
            <span *ngIf="order.status ==='delivered'"><b>ORDEN ENTREGADA</b></span>
            <span *ngIf="order.status ==='canceled'"><b>ORDEN ANULADA</b></span>
            <p>{{order.dateEntry | date:'medium'}}</p>
          </div>
          <div class="details-order">
            <span>Mozo: {{order.userId}}</span>
            <p>Cliente: {{order.client}}</p>
          </div>
  
        </div> 
        <div class="container products-order">
          <div class="row" *ngFor="let product of order.products">
            <span clas="col-2">{{product.qty}}</span>
            <span class="col-7 pl-3">{{product.product.name}}</span>
            <span class="col-3">S/. {{product.product.price}}</span>
          </div>
        </div>
        <div class="button-orders">
          <button class="btn-order btn-outline-danger" *ngIf="statusOrder==='pending'" (click)="changeStatusOrder(order)">Envio a Mesa</button>
          <button class="btn-order btn-outline-danger" *ngIf="statusOrder==='pending'" (click)="cancelOrder(order)">Cancelar pedido</button>
          <button class="btn-order btn-outline-danger" *ngIf="statusOrder==='delivering'" (click)="changeStatusOrder(order)">Pagado</button>
          <button class="btn-order btn-outline-danger" (click)="getOrdersbyId(order._id)">Detalles</button>
        </div>
      </div>
    </div>
    </div>
  </section>