.order{
    margin-top:6%;

    .card{
        border:#FFC107 solid 1pt;

        .card-header{
            background:#FFC107;
        }
        button{
            text-decoration: none;
            color: black;
        }
    }
}