<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://previews.123rf.com/images/beatlex1/beatlex11305/beatlex1130500007/19855916-delicious-breakfast-sandwich-orange-juice-and-coffee.jpg" class="w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/proxy/C-K4xPfoItYIYhjTmUc5gMahp5V3uh24PLCYgSxvyp4_-uonhhS_HyspmotEo8KmfwQh-ASB1A-BWMg3pe6uTBL_o2MDhuSTnnUSk1sZkT8HcXVkJjy6UQ" class="w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://5.imimg.com/data5/DC/TD/MY-14296065/coffee-anise-cinnamon-spices-photo-wallpaper-2-copy-500x500.jpg" class="w-100" alt="...">
      </div>
    </div>
  </div>
