.init-carousel{
    display: flex;
    width: 95wh;
    height: 90vh;
    .carousel{
        width: 100%;
        height: 95vh;
    img{
        padding-top: 5px;
        justify-content: center;
        text-align: center;
        width: 95vw;
        height: 95vh;
        }
    }
}

