.qty-product{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.89);
}

.product-details{
    display: flex;
    flex-direction: row;
    font-size: 80%;
    .name-product{
        width: 70%;
        background: white;
        margin-right: 2%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.89);
    }
    .price-product{
        width: 15%;
        background: white;
        margin-right: 2%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.89);
    }
    .total-product{
        width: 15%;
        background: white;
        margin-right: 2%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.89);
    }
}

.btnDelete{
    font-size: 15px;
}
.btnDelete:hover{
    background-color: white;
    color: red;
}

