.user{
    border: #F7F5F9 solid 1pt;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    padding: 5px;
}


button{
   color:#79432B;
   font-size: 150%;
   background: none;
   border:none;
}

button:hover{
    background: white;
    color:red;
}

