.header-order{
    ol{
    background: white;
    border: 2pt solid  rgb(255, 193, 7);
    }
}

.name-client{
    background: white;
    border: 2pt solid  rgb(255, 193, 7);
}

.total-bill{
    border: 2pt solid  rgb(255, 193, 7);
    background: white;
}

.btn-post-order{
    text-align: center;
}

