.header-order{
    ol{
    background: white;
    border: 2pt solid  #e52d27;
    }
}

.name-client{
    background: white;
    border: 2pt solid  #e52d27;
}

.total-bill{
    border: 2pt solid  #e52d27;
    background: white;
}

.btn-post-order{
    text-align: center;
}
