.card{
    border: 2pt solid  #e52d27;
}
.card-header{
    background-color:#E52D27;
    color: white;
}

.name-client{
    background-color: #E52D27;
    color: white;
}

.div-total-bill{
    display: flex;
    justify-content: center;
    border: 2pt solid  #e52d27;
    width: 25%;
}

.btn-post-order{
    display: flex;
    justify-content: center;
    .btn{
        color: white;
        background-color: #E52D27;
        width: 50%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.89);
    } 
}

