<section class="container">
    <div class="row">
  
      <nav aria-label="breadcrumb" class="col-12 header-order">
        <ol class="breadcrumb d-flex justify-content-between">
          <li class="breadcrumb-item" aria-current="page"><b>PEDIDOS</b></li>
          <li aria-current="page"><b> Fecha:</b> {{dateOrder|date:"short"}}</li>
          <li aria-current="page"><b> Mesero:</b> {{emailUser}}</li>
        </ol>
      </nav>
  
      <div class="input-group mb-3 col-12 ">
        <div class="input-group-prepend">
          <span class="input-group-text name-client" id="basic-addon1">Cliente</span>
        </div>
        <input type="text" class="form-control input-name-client" [(ngModel)]=nameClient placeholder="Nombre del cliente" aria-label="Username" aria-describedby="basic-addon1">
      </div>
  
      <div class="col-12"><app-bill-order></app-bill-order></div>
  
    </div>
  
    <div class="input-group-prepend d-flex flex-row-reverse">
      <span class="input-group-text total-bill" id="basic-addon1"><b>Total: {{getTotalBill()}}</b></span>
    </div>
  
    <div class="btn-post-order">
      <button type="button" class="btn btn-danger" (click)="postOrderFood()">Enviar Pedido</button>
    </div>
  </section>
