.login-form{
    width: 100%;
    .card{
        border-radius: 2%;
        margin-left: 8%;
        border: white solid 1pt;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        img{
            width: 50%;
        }
    }
}
