.login-form{
    width: 98%;
    .card{
        width: 40%;
        padding-top: 5px;
        display: flex;
        margin-left: 8%;
        background: none;
        border: none;
        img{
            width: 40%;
        }
       
    }
}
