<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto">
          <div class="card">
            <div class="card-body">
              <form #formAuth="ngForm" (submit) = "saveUpdateUsers()">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" [(ngModel)]="dataUser.email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input type="password" name="password" id="password" [(ngModel)]="dataUser.password" class="form-control" required>
                </div>
                <input type="submit" [disabled]="formAuth.form.invalid" value="Registrar" class="btn mt-2 btn-danger btn-block btn-lg">
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
   
  
