.products{
    margin-top: 100px;
      .header{
        display: flex;
        width: 100%;
        font-family: 'Domine', serif;        
        text-align: center;
        .title{
            margin-top: 4%;
            width: 95%;
            text-align: center;
            justify-content: center;
            font-size: 25px;  
        }
        .btnAdd{
            font-size: 30px;
            background: none;
            border: none;
            margin-top: 4%;
        }
        .btnAdd:hover{
            border: none;
            color:red;
        }
      }    

      .listProduct{
          margin-top: -20px;
      .product{
        margin-bottom: 5px;
        padding: 15px 5px;
        border: 1.5px dashed rgb(160, 161, 158);
        box-shadow: 0px 4px 12px rgb(159, 160, 159);        

        h3{
            width: 100%;
            font-size: 20px;
            font-weight: bolder;
            font-family: 'Domine', serif;        
        }

        span{
            color:#F0542C;
            display: block;
            font-weight: bolder;
            font-size:20px;
            font-family: "Montserrat", sans-serif;
        }

        img{
            width: 100%;
            height: 100%;
        }

        .iconos{
            width: 100%;
            padding-left: 40%;
            font-size: 20px;
            :hover{
                color:red;
            }

            button{
                font-size: 130%;
                color: rgb(95, 90, 88);
                background: none;
                border: none;
                padding-right: 15px;
            }

        }
    }
}
}

.headerModal{
    width: 100%;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

@media only screen and (max-device-width: 480px){
    
}
